:root { --foreground: #212121;
	--background: #EFEFEF;;

	font-size: 18px;
	font-family: 'Iosevka Nerd Font Mono', 'Iosevka', sans-serif;
}

body {
	color: var(--foreground);
	background-color: var(--background);
}

button.lock {
	all: unset;

	width: fit-content;
	height: fit-content;
	cursor: pointer;
	padding: 0.5rem 3rem;
	font-size: 1rem;
	font-weight: 900;
	color: var(--foreground);
	border: 2px solid var(--foreground);
	background-color: var(--background);
	text-transform: uppercase;
	&:hover {
		color: var(--background);
		background-color: var(--foreground);
	}
}

button.action {
	all: unset;
	width: fit-content;
	height: fit-content;
	position: relative;
	cursor: pointer;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 900;
	opacity: 0.6;
	color: var(--foreground);
	transition: opacity 100ms ease;
	&::after {
		content: '';
		position: absolute;
		display: inline-block;
		width: 50%;
		height: 2px;
		bottom: -4px;
		left: 0px;
		opacity: 0.6;
		background-color: black;
		border-radius: 2px;
		transition: width 100ms ease 50ms;
	}
	&:hover {
		opacity: 1;
		&::after {
			width: 100%;
			opacity: 1;
		}
	}
}

input {
	color: var(--foreground);
	background: var(--background);
}

dialog[open] {
	padding: 2rem;
	min-width: 33vw;
	color: var(--foreground);
	background-color: var(--background);
	margin: auto;
	.dialog_title {
		margin-bottom: 1rem;
	}
	&#dialog_request_add, &#dialog_session_obtain {
		gap: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&#dialog_request_submit {
		gap: 1rem;
		width: 50vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		.dialog_title {
			grid-column: 1 / span 2;
		}
		ul {
			max-height: 33vh;
			overflow-y: auto;
			padding-top: 1rem;
			padding-left: 1rem;
		}
		div.field {
			gap: 0.25rem;
			display: flex;
			flex-direction: column;
			margin-bottom: 0.75rem;
			& label {
				font-
			}
		}
		button[type=submit] {
			float: right;
		}
	}
}

dialog#dialog_request_add[open] {
	div.request_add_actions > button {
		float: right;
		&:not(:last-child) {
			margin-left: 1rem;
		}
	}
	input[type=number] {
		all: unset;
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
		border-bottom: 4px solid var(--foreground);
	}
}

dialog#dialog_session_obtain[open] {
	& button {
		margin-top: 1rem;
		align-self: flex-end;
	}
	& label {
		font-size: 1.25rem;
	}
	& input#secret {
		all: unset;
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
		border-bottom: 4px solid var(--foreground);
	}
}

table {
	text-align: left;
	border-collapse: collapse;
	td, th {
		padding: 1rem;
		font-size: 1.2rem;
	}
	th {
		border: none;
		border-bottom: 4px solid var(--foreground);
		text-transform: uppercase;
		font-size: 1.2rem;
	}
	tbody tr.out_of_stock {
		color: #999999;
		background-color: #8f33330f;
	}
}
