<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- index.html                                         :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: abderrahim <marvin@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2024/11/16 16:02:47 by abderrahim        #+#    #+#            -->
<!-- Updated: 2024/11/20 21:55:53 by abderrahim       ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LEETMAKERS</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/layout.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/cart.js"></script>
		<script src="js/cookie.js"></script>
		<script>
			var cookie_session_name = "sid";

			function Signout() {
				deleteCookie(cookie_session_name);
				window.location.reload();
			}

			function ShowSessionDialog() {
				const dialog = document.getElementById("dialog_session_obtain");
				dialog.showModal();
			}
		</script>
	</head>
	<body>
		<header id="topbar">
			<h1>LEETMAKERS<small> / DASHBOARD</small></h1>
			<span class="space-x"></span>
			{{ if is_logged_in }}
				<button id="session_control" type="button" class="lock" onclick="Signout()">Sign out</button>
			{{ else }}
				<button id="session_control" type="button" class="lock" onclick="ShowSessionDialog()">Sign in</button>
			{{ /if }}
		</header>
		<table>
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th>Name</th>
					<th class="text-center">Total</th>
					<th class="text-center">Reserved</th>
					<th style="width: {{ is_logged_in ? '16ch' : '8ch' }};">Action</th>
				</tr>
			</thead>
			<tbody>
				{{ for item of table }}
				<tr data-item-id="{{ item.id }}" data-item-name="{{ item.name }}" data-item-total="{{ item.quantity.total }}" data-item-reserved="{{ item.quantity.reserved }}" class={{ item.quantity.total === item.quantity.reserved ? "out_of_stock" : "" }}>
					<td class="text-center">{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td class="text-center">{{ item.quantity.total }}</td>
					<td class="text-center">{{ item.quantity.reserved }}</td>
					<td>
						<div class="actions">
							{{ if is_logged_in }}
								<button type="button" class="action">Edit</button>
							{{ /if }}
							{{ if item.quantity.reserved < item.quantity.total }}
								<button type="button" class="action" onclick="CartPopup({{ item.id }})">Request</button>
							{{ /if }}
						</div>
					</td>
				</tr>
				{{ /for }}
			</tbody>
		</table>
		<section id="cart">
			<h3>Cart</h3>
			<ul id="cart_items">
				<li>1x Arduino Uno R3</li>
				<li>8x Light Sensor</li>
			</ul>
			<button class="lock">Submit</button>
		</section>
		<dialog id="dialog_cart">
			<h3>TEMPORARY</h3>
		</dialog>
		<dialog id="dialog_session_obtain">
			<form method="POST" action="/api/session/obtain" class="contents">
				<label for="secret">Secret:</label>
				<input type="password" id="secret" name="secret" placeholder="Type in inventory manager secret..." required />
				<input type="hidden" id="redirect_obtain" name="redirect" />
				<button type="submit" class="lock">Submit</button>
			</form>
		</dialog>
		<script>
			// Fill all redirects with the current page value
			const redirects = document.querySelectorAll("input[name=redirect]");
			const iterator = Array.from(redirects);
			for (const redirect of redirects)
				redirect.value = window.location.toString();
		</script>
	</body>
</html>
