:root {
	--foreground: #212121;
	--background: #EFEFEF;;

	font-size: 18px;
	font-family: 'Iosevka Nerd Font Mono', sans-serif;
}

body {
	color: var(--foreground);
	background-color: var(--background);
}

button.lock {
	all: unset;

	width: fit-content;
	height: fit-content;
	cursor: pointer;
	padding: 0.5rem 3rem;
	font-size: 1rem;
	font-weight: 900;
	color: var(--foreground);
	border: 2px solid var(--foreground);
	background-color: var(--background);
	text-transform: uppercase;
	&:hover {
		color: var(--background);
		background-color: var(--foreground);
	}
}

input {
	color: var(--foreground);
	background: var(--background);
}

dialog#dialog_unlock[open] {
	gap: 1rem;
	padding: 2rem;
	min-width: 33vw;
	min-height: 33vh;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	color: var(--foreground);
	background: var(--background);
	& button {
		margin-top: 1rem;
		align-self: flex-end;
	}
	& label {
		font-size: 1.25rem;
	}
	& input#password {
		all: unset;
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
		border-bottom: 4px solid var(--foreground);
	}
}
