<!-- *********************************************************************** -->
<!--                                                                         -->
<!--                                                      :::      ::::::::  -->
<!-- index.html                                         :+:      :+:    :+:  -->
<!--                                                  +:+ +:+         +:+    -->
<!-- By: abderrahim <marvin@42.fr>                  +#+  +:+       +#+       -->
<!--                                              +#+#+#+#+#+   +#+          -->
<!-- Created: 2024/11/16 16:02:47 by abderrahim        #+#    #+#            -->
<!-- Updated: 2024/11/23 00:43:22 by abderrahim       ###   ########.fr      -->
<!--                                                                         -->
<!-- *********************************************************************** -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LEETMAKERS</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/layout.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="js/cart.js"></script>
		<script src="js/cookie.js"></script>
		<script>
			var cookie_session_name = "sid";

			function SessionSignout() {
				deleteCookie(cookie_session_name);
				window.location.reload();
			}

			function DialogSessionOpen() {
				const dialog = document.getElementById("dialog_session_obtain");
				dialog.showModal();
			}

			function DialogCartClose() {
				const dialog = document.getElementById("dialog_cart");
				dialog.close();
			}
		</script>
	</head>
	<body>
		<header id="topbar">
			<h1>LEETMAKERS<small> / {{ is_logged_in ? 'DASHBOARD' : 'INVENTORY' }}</small></h1>
			<span class="space-x"></span>
			{{ if is_logged_in }}
				<button id="session_control" type="button" class="lock" onclick="SessionSignout()">Sign out</button>
			{{ else }}
				<button id="session_control" type="button" class="lock" onclick="DialogSessionOpen()">Sign in</button>
			{{ /if }}
		</header>
		<table id="items_display">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th>Name</th>
					<th class="text-center">Total</th>
					<th class="text-center">Reserved</th>
					<th style="width: {{ is_logged_in ? '16ch' : '8ch' }};">Action</th>
				</tr>
			</thead>
			<tbody>
				{{ for item of table }}
				<tr data-item-id="{{ item.id }}" data-item-name="{{ item.name }}" data-item-total="{{ item.quantity.total }}" data-item-reserved="{{ item.quantity.reserved }}" class={{ item.quantity.total === item.quantity.reserved ? "out_of_stock" : "" }}>
					<td class="text-center">{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td class="text-center">{{ item.quantity.total }}</td>
					<td class="text-center">{{ item.quantity.reserved }}</td>
					<td>
						<div class="actions">
							{{ if is_logged_in }}
								<button type="button" class="action">Edit</button>
							{{ /if }}
							{{ if item.quantity.reserved < item.quantity.total }}
								<button type="button" class="action" onclick="DialogCartOpen({{ item.id }}, {{ item.quantity.total }}, {{ item.quantity.reserved }})">Request</button>
							{{ /if }}
						</div>
					</td>
				</tr>
				{{ /for }}
			</tbody>
		</table>
		<section id="cart">
			<h3>Cart</h3>
			<ul id="cart_items">
			</ul>
			<button class="lock">Submit</button>
		</section>
		<dialog id="dialog_request_add">
			<h2 class="dialog_title"><small>Requesting how many of</small> <u id="dialog_request_add_title"></u>'s <small>?</small></h2>
			<input  id="dialog_request_add_amount" type="number" min="1" value="1">
			<div class="request_add_actions">
				<button onclick="DialogCartSubmit()" class="lock">Submit</button>
				<button onclick="DialogCartClose()" class="lock">Cancel</button>
			</div>
		</dialog>
		<dialog id="dialog_request_submit">
			<form action="/api/request" method="POST" class="contents">
				<h2 class="dialog_title">REQUEST SUBMISSION</h2>
				<section>
					<h3>Contents</h3>
					<ul>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
						<li>2x Arduino UNO R3</li>
					<hr />
						<li>2 Items in total</li>
					</ul>
				</section>
				<section>
					<div class="field">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" placeholder="Super duper awesome project" autofocus>
					</div>
					<div class="field">
						<label for="members">Members (comma separated)</label>
						<input type="text" id="members" name="members" placeholder="John Doe, Jane Doe">
					</div>
					<div class="field">
						<label for="description">Description</label>
						<textarea id="description" name="description" cols="24" rows="5" placeholder="Solving the problem x, by utilizing y, and employing z."></textarea>
					</div>
					<button type="submit" class="lock">SUBMIT</button>
				</section>
			</form>
		</dialog>
		<dialog id="dialog_session_obtain">
			<h2 class="dialog_title">SIGN IN</h2>
			<form method="POST" action="/api/session/obtain" class="contents">
				<label for="secret">Secret:</label>
				<input type="password" id="secret" name="secret" placeholder="Type in inventory manager secret..." required />
				<input type="hidden" id="redirect_obtain" name="redirect" />
				<button type="submit" class="lock">Submit</button>
			</form>
		</dialog>
		<script src="js/init/redirect.js"></script>
		<script src="js/init/input_number.js"></script>
	</body>
</html>
